In [1]:
%pip install findspark pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in ./.local/lib/python3.8/site-packages (2.0.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
import argparse

In [4]:
# Получение путей до папки с исходными данными (input_folder) и папки с результатом (output_folder), введённых при запуске Spark-приложения через spark-submit
#parser = argparse.ArgumentParser()
#parser.add_argument("input_folder", help = "Path to the folder with input files offense_codes.csv, crime.csv")
#parser.add_argument("output_folder", help = "Path to the folder with output file crimes_in_boston_analysis.parquet")
#args = parser.parse_args()

In [5]:
# Создание SparkSession
spark = (SparkSession
    .builder
    .appName("Crimes in Boston - Analysis")
    .master("local[*]")
    .getOrCreate()
)

In [6]:
# Чтение данных из справочника кодов преступлений
#offense_codes_df = spark.read.csv(args.input_folder + "/offense_codes.csv", header = True, inferSchema = True)
offense_codes_df = spark.read.csv("path/to/input/offense_codes.csv", header = True, inferSchema = True)
offense_codes_df.show(truncate = False)

+----+------------------------------------------+
|CODE|NAME                                      |
+----+------------------------------------------+
|612 |LARCENY PURSE SNATCH - NO FORCE           |
|613 |LARCENY SHOPLIFTING                       |
|615 |LARCENY THEFT OF MV PARTS & ACCESSORIES   |
|1731|INCEST                                    |
|3111|LICENSE PREMISE VIOLATION                 |
|2646|LIQUOR - DRINKING IN PUBLIC               |
|2204|LIQUOR LAW VIOLATION                      |
|3810|M/V ACCIDENT - INVOLVING �BICYCLE - INJURY|
|3801|M/V ACCIDENT - OTHER                      |
|3807|M/V ACCIDENT - OTHER CITY VEHICLE         |
|3803|M/V ACCIDENT - PERSONAL INJURY            |
|3805|M/V ACCIDENT - POLICE VEHICLE             |
|3802|M/V ACCIDENT - PROPERTY �DAMAGE           |
|3205|M/V PLATES - LOST                         |
|123 |MANSLAUGHTER - NON-VEHICLE - NEGLIGENCE   |
|121 |MANSLAUGHTER - VEHICLE - NEGLIGENCE       |
|3501|MISSING PERSON                            |
|3502|MISSING PERSON - LOCATED                  |
|3503|MISSING PERSON - NOT REPORTED - LOCATED   |
|111 |MURDER, NON-NEGLIGIENT MANSLAUGHTER       |
+----+------------------------------------------+
only showing top 20 rows

In [7]:
# Информация о схеме
offense_codes_df.printSchema()

root
 |-- CODE: integer (nullable = true)
 |-- NAME: string (nullable = true)

In [8]:
# Чтение данных о преступлениях
#crime_df = spark.read.csv(args.input_folder + "/crime.csv", header = True, inferSchema = True)
crime_df = spark.read.csv("path/to/input/crime.csv", header = True, inferSchema = True)
crime_df.show(truncate = False)

+---------------+------------+--------------------------------+------------------------------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+---------------------------+
|INCIDENT_NUMBER|OFFENSE_CODE|OFFENSE_CODE_GROUP              |OFFENSE_DESCRIPTION                       |DISTRICT|REPORTING_AREA|SHOOTING|OCCURRED_ON_DATE   |YEAR|MONTH|DAY_OF_WEEK|HOUR|UCR_PART  |STREET           |Lat        |Long        |Location                   |
+---------------+------------+--------------------------------+------------------------------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+---------------------------+
|I182070945     |619         |Larceny                         |LARCENY ALL OTHERS                        |D14     |808           |null    |2018-09-02 13:00:00|2018|9    |Sunday     |13  |Part One  |LINCOLN ST       |42.35779134|-71.13937053|(42.35779134, -71.13937053)|
|I182070943     |1402        |Vandalism                       |VANDALISM                                 |C11     |347           |null    |2018-08-21 00:00:00|2018|8    |Tuesday    |0   |Part Two  |HECLA ST         |42.30682138|-71.06030035|(42.30682138, -71.06030035)|
|I182070941     |3410        |Towed                           |TOWED MOTOR VEHICLE                       |D4      |151           |null    |2018-09-03 19:27:00|2018|9    |Monday     |19  |Part Three|CAZENOVE ST      |42.34658879|-71.07242943|(42.34658879, -71.07242943)|
|I182070940     |3114        |Investigate Property            |INVESTIGATE PROPERTY                      |D4      |272           |null    |2018-09-03 21:16:00|2018|9    |Monday     |21  |Part Three|NEWCOMB ST       |42.33418175|-71.07866441|(42.33418175, -71.07866441)|
|I182070938     |3114        |Investigate Property            |INVESTIGATE PROPERTY                      |B3      |421           |null    |2018-09-03 21:05:00|2018|9    |Monday     |21  |Part Three|DELHI ST         |42.27536542|-71.09036101|(42.27536542, -71.09036101)|
|I182070936     |3820        |Motor Vehicle Accident Response |M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY|C11     |398           |null    |2018-09-03 21:09:00|2018|9    |Monday     |21  |Part Three|TALBOT AVE       |42.29019621|-71.07159012|(42.29019621, -71.07159012)|
|I182070933     |724         |Auto Theft                      |AUTO THEFT                                |B2      |330           |null    |2018-09-03 21:25:00|2018|9    |Monday     |21  |Part One  |NORMANDY ST      |42.30607218|-71.0827326 |(42.30607218, -71.08273260)|
|I182070932     |3301        |Verbal Disputes                 |VERBAL DISPUTE                            |B2      |584           |null    |2018-09-03 20:39:37|2018|9    |Monday     |20  |Part Three|LAWN ST          |42.32701648|-71.10555088|(42.32701648, -71.10555088)|
|I182070931     |301         |Robbery                         |ROBBERY - STREET                          |C6      |177           |null    |2018-09-03 20:48:00|2018|9    |Monday     |20  |Part One  |MASSACHUSETTS AVE|42.33152148|-71.07085307|(42.33152148, -71.07085307)|
|I182070929     |3301        |Verbal Disputes                 |VERBAL DISPUTE                            |C11     |364           |null    |2018-09-03 20:38:00|2018|9    |Monday     |20  |Part Three|LESLIE ST        |42.29514664|-71.05860832|(42.29514664, -71.05860832)|
|I182070928     |3301        |Verbal Disputes                 |VERBAL DISPUTE                            |C6      |913           |null    |2018-09-03 19:55:00|2018|9    |Monday     |19  |Part Three|OCEAN VIEW DR    |42.31957856|-71.04032766|(42.31957856, -71.04032766)|
|I182070927     |3114        |Investigate Property            |INVESTIGATE PROPERTY                      |C6      |936           |null    |2018-09-03 20:19:00|2018|9    |Monday     |20  |Part Three|DALESSIO CT      |42.34011469|-71.05339029|(42.34011469, -71.05339029)|
|I182070923     |3108        |Fire Related Reports            |FIRE REPORT - HOUSE, BUILDING, ETC.       |D4      |139           |null    |2018-09-03 19:58:00|2018|9    |Monday     |19  |Part Three|MARLBOROUGH ST   |42.3503876 |-71.0878529 |(42.35038760, -71.08785290)|
|I182070922     |2647        |Other                           |THREATS TO DO BODILY HARM                 |B3      |429           |null    |2018-09-03 20:39:00|2018|9    |Monday     |20  |Part Two  |WOODROW AVE      |42.28647012|-71.08714661|(42.28647012, -71.08714661)|
|I182070921     |3201        |Property Lost                   |PROPERTY - LOST                           |B3      |469           |null    |2018-09-02 14:00:00|2018|9    |Sunday     |14  |Part Three|MULVEY ST        |42.27924052|-71.09667382|(42.27924052, -71.09667382)|
|I182070920     |3006        |Medical Assistance              |SICK/INJURED/MEDICAL - PERSON             |null    |              |null    |2018-09-03 19:43:00|2018|9    |Monday     |19  |Part Three|null             |42.35287456|-71.0738297 |(42.35287456, -71.07382970)|
|I182070919     |3301        |Verbal Disputes                 |VERBAL DISPUTE                            |C11     |341           |null    |2018-09-03 18:52:00|2018|9    |Monday     |18  |Part Three|STONEHURST ST    |42.30526428|-71.06683755|(42.30526428, -71.06683755)|
|I182070918     |3305        |Assembly or Gathering Violations|DEMONSTRATIONS/RIOT                       |D4      |130           |null    |2018-09-03 17:00:00|2018|9    |Monday     |17  |Part Three|HUNTINGTON AVE   |42.34857652|-71.07772012|(42.34857652, -71.07772012)|
|I182070917     |2647        |Other                           |THREATS TO DO BODILY HARM                 |B2      |901           |null    |2018-09-03 19:52:00|2018|9    |Monday     |19  |Part Two  |HORADAN WAY      |42.33371742|-71.09665806|(42.33371742, -71.09665806)|
|I182070915     |614         |Larceny From Motor Vehicle      |LARCENY THEFT FROM MV - NON-ACCESSORY     |B2      |181           |null    |2018-09-02 18:00:00|2018|9    |Sunday     |18  |Part One  |SHIRLEY ST       |42.3256949 |-71.06816778|(42.32569490, -71.06816778)|
+---------------+------------+--------------------------------+------------------------------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+---------------------------+
only showing top 20 rows

In [9]:
# Информация о схеме
crime_df.printSchema()

root
 |-- INCIDENT_NUMBER: string (nullable = true)
 |-- OFFENSE_CODE: integer (nullable = true)
 |-- OFFENSE_CODE_GROUP: string (nullable = true)
 |-- OFFENSE_DESCRIPTION: string (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- REPORTING_AREA: string (nullable = true)
 |-- SHOOTING: string (nullable = true)
 |-- OCCURRED_ON_DATE: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- HOUR: integer (nullable = true)
 |-- UCR_PART: string (nullable = true)
 |-- STREET: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Location: string (nullable = true)

In [10]:
# Регистрация DataFrame как временных представлений
offense_codes_df.createOrReplaceTempView("offense_codes")
crime_df.createOrReplaceTempView("crime")

In [11]:
# Проверка справочника кодов преступлений на наличие дубликатов
result = spark.sql("""
SELECT
    COUNT(DISTINCT code)    AS unique_codes_number,
    COUNT(code)             AS codes_number
FROM offense_codes
""")

result.show()

+-------------------+------------+
|unique_codes_number|codes_number|
+-------------------+------------+
|                425|         576|
+-------------------+------------+

In [12]:
# Очистка справочника кодов преступлений от дубликатов + расчёт поля crime_type
unique_offense_codes_df = spark.sql("""
SELECT
    code            AS code,
    FIRST(name)     AS name,
    CASE
        WHEN INSTR(FIRST(name), ' -') = 0
            THEN FIRST(name)
        ELSE
            SUBSTR(FIRST(name), 1, INSTR(FIRST(name), ' -') - 1)
    END             AS crime_type
FROM offense_codes
GROUP BY
    code
""")

unique_offense_codes_df.show(truncate = False)

+----+------------------------------------------+-------------------------------------+
|code|name                                      |crime_type                           |
+----+------------------------------------------+-------------------------------------+
|243 |RAPE - ATTEMPT - SEXUAL ASSAULT W/ OBJECT |RAPE                                 |
|540 |BURGLARY - COMMERICAL - FORCE             |BURGLARY                             |
|623 |LARCENY SHOPLIFTING $50 TO $199           |LARCENY SHOPLIFTING $50 TO $199      |
|1721|FAILURE TO REGISTER AS A SEX OFFENDER     |FAILURE TO REGISTER AS A SEX OFFENDER|
|1903|GAMBLING - EQUIP VIOLATIONS               |GAMBLING                             |
|3704|M/V ACCIDENT - POLICE VEHICLE             |M/V ACCIDENT                         |
|251 |RAPE - COMPLETE - FORCIBLE                |RAPE                                 |
|2622|KIDNAPPING/CUSTODIAL KIDNAPPING           |KIDNAPPING/CUSTODIAL KIDNAPPING      |
|804 |STALKING                                  |STALKING                             |
|2914|VAL - OPERATING W/O AUTHORIZATION LAWFUL  |VAL                                  |
|322 |ROBBERY - OTHER WEAPON - RESIDENCE        |ROBBERY                              |
|321 |ROBBERY - OTHER WEAPON - MISCELLANEOUS    |ROBBERY                              |
|362 |ROBBERY ATTEMPT - OTHER WEAPON - RESIDENCE|ROBBERY ATTEMPT                      |
|613 |LARCENY SHOPLIFTING                       |LARCENY SHOPLIFTING                  |
|633 |LARCENY SHOPLIFTING UNDER $50             |LARCENY SHOPLIFTING UNDER $50        |
|375 |ROBERRY ATTEMPT - UNARMED - CHAIN STORE   |ROBERRY ATTEMPT                      |
|1863|DRUGS - POSS CLASS D - MARIJUANA, ETC.    |DRUGS                                |
|2606|PRISONER ATTEMPT TO RESCUE                |PRISONER ATTEMPT TO RESCUE           |
|211 |RAPE - FEMALE - FORCE                     |RAPE                                 |
|530 |B&E NON-RESIDENCE NIGHT - FORCE           |B&E NON-RESIDENCE NIGHT              |
+----+------------------------------------------+-------------------------------------+
only showing top 20 rows

In [13]:
# Регистрация DataFrame как временного представления
unique_offense_codes_df.createOrReplaceTempView("unique_offense_codes")

In [14]:
# Проверка, что у всех преступлений указан код из справочника кодов преступлений
result = spark.sql("""
SELECT
    COUNT(*)
FROM crime                      C
LEFT JOIN unique_offense_codes  UOC     ON UOC.code = C.offense_code
WHERE UOC.code IS NULL
""")

result.show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [15]:
# Расчёт метрик crimes_total, lat, lng
crimes_total_lat_lng_df = spark.sql("""
SELECT
    district                            AS district,
    COUNT(DISTINCT incident_number)     AS crimes_total,
    AVG(lat)                            AS lat,
    AVG(long)                           AS lng
FROM crime
GROUP BY
    district
""")

crimes_total_lat_lng_df.show()

+--------+------------+------------------+------------------+
|district|crimes_total|               lat|               lng|
+--------+------------+------------------+------------------+
|      C6|       21196|42.212122584455514|-70.85561011772235|
|    null|        1583|25.239505193693454|-43.44877438704253|
|      B2|       43403| 42.31600367732771|-71.07569930654313|
|     C11|       37298| 42.29263740900059|-71.05125995734359|
|     E13|       15652|42.309803655709885|-71.09800478878381|
|      B3|       31131| 42.28305944520104|-71.07894914185485|
|      E5|       11876| 42.19796999447013|-71.00440862434749|
|     A15|        5978| 42.17915525091087|-70.74472508958509|
|      A7|       12306| 42.36070260499387|-71.00394833039849|
|     D14|       18573| 42.34350724510931| -71.1312546172649|
|      D4|       36755|42.341242517908626|-71.07725024947001|
|     E18|       15746| 42.26268061122596|-71.11891998757693|
|      A1|       31020|42.331230772598374|-71.01991881362001|
+--------+------------+------------------+------------------+

In [16]:
# Расчёт метрики crimes_monthly
crimes_monthly_df = spark.sql("""
WITH cte AS
(
    SELECT
        district                            AS district,
        year                                AS year,
        month                               AS month,
        COUNT(DISTINCT incident_number)     AS incidents_monthly_count_by_district
    FROM crime
    GROUP BY
        district,
        year,
        month
)
SELECT
    district                                                        AS district,
    PERCENTILE_APPROX(incidents_monthly_count_by_district, 0.5)     AS crimes_monthly
FROM cte
GROUP BY
    district
""")

crimes_monthly_df.show()

+--------+--------------+
|district|crimes_monthly|
+--------+--------------+
|      C6|           543|
|    null|            37|
|      B2|          1130|
|     C11|           979|
|     E13|           397|
|      B3|           800|
|      E5|           304|
|     A15|           149|
|      A7|           315|
|     D14|           466|
|      D4|           970|
|     E18|           399|
|      A1|           771|
+--------+--------------+

In [17]:
# Расчёт метрики frequent_crime_types
frequent_crime_types_df = spark.sql("""
WITH cte AS
(
    SELECT
        district                                                                                    AS district,
        offense_code                                                                                AS offense_code,
        COUNT(DISTINCT incident_number)                                                             AS incidents_count_by_district_and_offense_code,
        ROW_NUMBER() OVER (PARTITION BY district ORDER BY COUNT(DISTINCT incident_number) DESC)     AS row_number
    FROM crime
    GROUP BY
        district,
        offense_code
    ORDER BY
        district,
        row_number
)
SELECT
    T.district                                      AS district,
    CONCAT_WS(', ', COLLECT_LIST(UOC.crime_type))   AS frequent_crime_types
FROM cte                            T
INNER JOIN unique_offense_codes     UOC     ON UOC.code = T.offense_code
WHERE T.row_number <= 3
GROUP BY
    T.district
""")

frequent_crime_types_df.show(truncate = False)

+--------+--------------------------------------------------------------------+
|district|frequent_crime_types                                                |
+--------+--------------------------------------------------------------------+
|C6      |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, TOWED MOTOR VEHICLE       |
|null    |M/V, M/V ACCIDENT, INVESTIGATE PROPERTY                             |
|B2      |VERBAL DISPUTE, M/V, INVESTIGATE PERSON                             |
|C11     |M/V, INVESTIGATE PERSON, SICK/INJURED/MEDICAL                       |
|E13     |SICK/INJURED/MEDICAL, M/V, INVESTIGATE PERSON                       |
|B3      |VERBAL DISPUTE, INVESTIGATE PERSON, VANDALISM                       |
|E5      |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, M/V                       |
|A15     |INVESTIGATE PERSON, M/V, VANDALISM                                  |
|A7      |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, VANDALISM                 |
|D14     |TOWED MOTOR VEHICLE, M/V, SICK/INJURED/MEDICAL                      |
|D4      |LARCENY SHOPLIFTING, LARCENY THEFT FROM BUILDING, INVESTIGATE PERSON|
|E18     |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, M/V                       |
|A1      |ASSAULT SIMPLE, PROPERTY, SICK/INJURED/MEDICAL                      |
+--------+--------------------------------------------------------------------+

In [18]:
# Регистрация DataFrame как временных представлений
crimes_total_lat_lng_df.createOrReplaceTempView("crimes_total_lat_lng")
crimes_monthly_df.createOrReplaceTempView("crimes_monthly")
frequent_crime_types_df.createOrReplaceTempView("frequent_crime_types")

In [19]:
# Сборка витрины
data_mart_df = spark.sql("""
SELECT
    T1.district,
    T1.crimes_total,
    T2.crimes_monthly,
    T3.frequent_crime_types,
    T1.lat,
    T1.lng
FROM crimes_total_lat_lng           T1
INNER JOIN crimes_monthly           T2  ON IFNULL(T2.district, '') = IFNULL(T1.district, '')
INNER JOIN frequent_crime_types     T3  ON IFNULL(T3.district, '') = IFNULL(T1.district, '')
ORDER BY
    T1.district
""")

data_mart_df.show(truncate = False)

+--------+------------+--------------+--------------------------------------------------------------------+------------------+------------------+
|district|crimes_total|crimes_monthly|frequent_crime_types                                                |lat               |lng               |
+--------+------------+--------------+--------------------------------------------------------------------+------------------+------------------+
|null    |1583        |37            |M/V, M/V ACCIDENT, INVESTIGATE PROPERTY                             |25.239505193693454|-43.44877438704253|
|A1      |31020       |771           |ASSAULT SIMPLE, PROPERTY, SICK/INJURED/MEDICAL                      |42.331230772598374|-71.01991881362001|
|A15     |5978        |149           |INVESTIGATE PERSON, M/V, VANDALISM                                  |42.17915525091087 |-70.74472508958509|
|A7      |12306       |315           |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, VANDALISM                 |42.36070260499387 |-71.00394833039849|
|B2      |43403       |1130          |VERBAL DISPUTE, M/V, INVESTIGATE PERSON                             |42.31600367732771 |-71.07569930654313|
|B3      |31131       |800           |VERBAL DISPUTE, INVESTIGATE PERSON, VANDALISM                       |42.28305944520104 |-71.07894914185485|
|C11     |37298       |979           |M/V, INVESTIGATE PERSON, SICK/INJURED/MEDICAL                       |42.29263740900059 |-71.05125995734359|
|C6      |21196       |543           |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, TOWED MOTOR VEHICLE       |42.212122584455514|-70.85561011772235|
|D14     |18573       |466           |TOWED MOTOR VEHICLE, M/V, SICK/INJURED/MEDICAL                      |42.34350724510931 |-71.1312546172649 |
|D4      |36755       |970           |LARCENY SHOPLIFTING, LARCENY THEFT FROM BUILDING, INVESTIGATE PERSON|42.341242517908626|-71.07725024947001|
|E13     |15652       |397           |SICK/INJURED/MEDICAL, M/V, INVESTIGATE PERSON                       |42.309803655709885|-71.09800478878381|
|E18     |15746       |399           |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, M/V                       |42.26268061122596 |-71.11891998757693|
|E5      |11876       |304           |SICK/INJURED/MEDICAL, INVESTIGATE PERSON, M/V                       |42.19796999447013 |-71.00440862434749|
+--------+------------+--------------+--------------------------------------------------------------------+------------------+------------------+

In [20]:
# Сохранение витрины в файл crimes_in_boston_analysis.parquet
#data_mart_df.write.mode("overwrite").parquet(args.output_folder + "/crimes_in_boston_analysis.parquet")
data_mart_df.write.mode("overwrite").parquet("path/to/output/crimes_in_boston_analysis.parquet")

In [21]:
# Остановка SparkSession
spark.stop()